<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">
  <button>Sign Up</button>
</a>

<a href="/login">
  <button>Login</button>
</a>

<a href="/logout">
  <button>Logout</button>
</a>

<a href="/private-page">
  <button width="200px" style="background-color: black; color: white; font-weight: 800">Private-page</button>
</a>