<h1>Private page</h1>

<h4>Shhhhhhhhh!</h4>
<img src="https://media.giphy.com/media/yow6i0Zmp7G24/giphy.gif" alt="shhhhh">
<br>

<div>
  {{#if user}}
  <h3>user.req :</h3>
    <p>{{user}}</p>
  {{/if}}
</div>

<a href="/">
  <button>Home</button>
</a>

<a href="/logout">
  <button>Logout</button>
</a>